/* Added fonts */

@font-face {
    font-family: "LetteraMonoLL-Regular";
    src:url(Fonts/LetteraMonoLL-Regular.otf);
}
@font-face {
    font-family:"Ndot-55" ;
    src:url(Fonts/Ndot-55.otf);
}
@font-face {
    font-family:"NType82" ;
    src: url(Fonts/NType82-Headline.otf);
}
@font-face {
    font-family:"NType82-Regular";
    src: url(Fonts/NType82-Regular.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* set nav bar fixed */

.navbar{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
}

.navbar-brand{
    font-family: "Ndot-55";
    font-size: 32px;
}

/* removed focus border and border of toggle button */

.navbar-toggler{
    margin: 0;
    border: none;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-link{
    font-family: "NType82";
    font-size: 18px;
    color: black;
    font-weight: 400;
}
.row-sec{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    
}
.row-1{
background-image: url(media/phone-2a-plus.webp);
}
.row-sec > h2{
    font-family: Ndot-55;
    font-size: 120px;
    writing-mode: vertical-lr;
    text-wrap: nowrap;
   
}
button{
    background-color: rgb(0, 47, 108);
    color: white;
}
.phone-info h1{
    font-family: "NType82";
    font-size: 64px;
    font-weight: 400;
}
.phone-info p{
    font-family:"NType82" ;

}
@media  (max-width:992px){
    .row-1{
        height: 90vh;
    }
}

/* Main section background images */

.row-sec{
    height: 90vh;
}
.row-2{
    background-image: url(media/img-2.webp);
}
.row-3{
    background-image: url(media/img-3.webp);

}
.row-4{
 background-image: url(media/img-4.webp);
}
.row-5{
 background-image: url(media/image-5.webp);
}
.row-6{
 background-image: url(media/img-6.webp);
}
.row-7{
 background-image: url(media/img-7.webp);
}
.row-8{
  background-image: url(media/img-8.webp);
}
.row-9{
 background-image: url(media/img-9.webp);
}
.text-white{
    color: white;
}
@media screen and (max-width:992px){
    .row-sec h2{
        font-size:4rem ;
    }
}
.features h1{
    font-family: "NType82";
    font-size: 32px;
    font-weight: 700;
}
.features p{
    font-family:"NType82" ;
    font-size: 32px;
    font-weight: 400;
}
.footer-join{
    font-family: "NType82";
 font-size: 18px;
}
.footer h6 li{
    font-size: 18px;
}
.form-input{
    background: transparent;
    color: white;
    border: 1px solid white;
}
.form-input::placeholder{
    color: white;
    font-size: 1.125rem;
    font-family: NType82;
}

.social{
    background-color: black;
    color: white;
}
.connections{
   font-size:0.9rem;
   font-family: NType82;
}
.social> .row > p{
    font-size: 0.9rem;
    font-family: NType82;
}
.social-mediai-div{
    border-top: 2px solid grey;
    background-color: black;
}
@media screen and (max-width:992px){
    .phone2aplus{
        background-image: url('media/phone-2a-plus-small.webp');
    
    }
    
    /* cmf */
    .cmf{
        background-image: url('media/cmf-small.webp');
    }
    
    /* communnity edition */
    .community{
        background-image: url('media/community-small.webp');
    }
    
    /* special edition */
    .special{
        background-image: url('media/special-small.webp');
    }
    
    
    /* phone 2a */
    .phone2a{
        background-image: url('media/phone-2a-small.webp');
    }
    
    /* ear */
    .ear{
        background-image: url('media/ear-small.webp');
    }
    
    
    /* ear a */
    .eara{
        background-image: url('media/eara-small.webp');
    }
    
    /* glyph */
    .glyph{
        background-image: url('media/glyph-small.webp');
    }
    
    /* phone 2 */
    .phone2{
        background-image: url('media/phone2-small.webp');
    }
}
